<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/view/layouts/admin_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 > 상품관리 > 수정하기</title>
</head>
<body layout:fragment="content">

  
  <div class="container">
    <div class="my-5">
      <h1>상품관리 > 수정하기</h1>

      <form action="/admin/products/update" method="post" th:object="${product}">
        <!-- CSRF TOKEN -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" name="id" th:field="*{id}">

        <div class="inner py-5">
          <div class="mb-3">
            <label for="name" class="form-label">상품명</label>
            <input type="text" class="form-control" id="name" th:field="*{name}"  />
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">설명</label>
            <textarea class="form-control" id="content" rows="3" th:field="*{content}"></textarea>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">가격</label>
            <input type="number" class="form-control" id="price" th:field="*{price}" />
          </div>
          <div class="mb-3">
            <label for="stock " class="form-label">재고수</label>
            <input type="number" class="form-control" id="stock" th:field="*{stock}" /> 
          </div>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary" >수정하기</button>
        </div>
      </form>

    </div>
  </div>
</body>
</html>