<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/view/layouts/main_layout}"
      >
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 정보</title>
</head>
<body layout:fragment="content">

  <section>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="main-title py-5">
          <h3 class="display-4 fw-bold text-body-emphasis text-center">상품 정보</h3>
        </div>

        <!-- 상품 정보 -->
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- 상품 아이템 -->
                <div class="card shadow-sm">
                    &nbsp;
                    <a th:href="|/products/${product.id}|">
                        <!-- <img src="/img/about.png" class="w-100" alt="about"> -->
                        <div class="card-box">
                            <img src="/img/about.png" th:src="|/files/img/${product.thumbnailId}|" class="w-100" alt="about">
                        </div>
                    </a>
                    &nbsp;
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title fs-2" th:text="${product.name}"></h3>
                        <p class="card-text" th:text="${product.description}"></p>
                        <div class="d-flex justify-content-end">
                            <p>
                                가격 : \<span class="fw-bold" th:text="${product.price}"></span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <p>
                                현재 <span th:text="${product.stock}"></span> 개 남았습니다.
                            </p>
                        </div>
                        <div class="d-flex justify-content-between my-2">
                            <div class="item">
                                <button class="btn btn-secondary">-</button>
                            </div>
                            <div class="item">
                                <span id="quantity">1</span>
                            </div>
                            <div class="item">
                                <button class="btn btn-secondary">+</button>
                            </div>
                        </div>
                        <div class="row my-5 row-gap-2">
                            <div class="col-12 col-md-6">
                                <button type="button" class="btn btn-warning w-100" >장바구니 담기</button>
                            </div>
                            <form action="/orders" method="post" class="col-12 col-md-6">
                                <!-- CSRF TOKEN -->
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <!-- <input type="text" id="productId" name="productId" th:value="${product.id}"> -->
                                <input type="text" id="productId" name="productId" value="2l3m4n5o-6789-01ab-cdef-2345678901mn">
                                <input type="text" id="productId" name="productId" value="3m4n5o6p-7890-12ab-cdef-3456789012no">
                                <input type="text" id="quantity" name="quantity" value="1">
                                <input type="text" id="quantity" name="quantity" value="2">
                                <button type="submit" class="btn btn-success w-100">주문하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 상품 내용 -->
        <div class="row my-5">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p th:text="${product.content}"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </section>
  

  <!-- masonry lib -->
  <script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script></body>
</body>
</html>