<th:block th:fragment="script">
    <!-- jQuery [CDN/FILE] -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> -->
    <script src="/lib/jQuery/jquery-3.7.1.min.js"></script>


    <!-- bootstrap [CDN/FILE]-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/script.js" ></script>
</th:block>